@model Simple_CMS.ViewModels.News.IndexViewModel

@if (User.IsInRole("admin"))
{
    <center><a class="blue" asp-action="AddNews" asp-controller="News">Добавить новость</a></center><br />
}

@foreach (var news in Model.News)
{
    int imagesCount = 0;
    <table class="content" width="100%">
        <tr>
            <td class="newstitle" width="80%" colspan="2">@news.NewsTitle</td>
            <td class="newsdate" width="20%">@news.NewsDate.ToShortDateString()</td>
        </tr>
        <tr>
            <td class="content" colspan="3">
                <span class="newsbody">@news.NewsBody</span><br /><br />
                <center>
                    @foreach (var image in Model.NewsImages)
                    {
                        if (image.NewsId == news.Id)
                        {
                            <a href="@Url.Content(image.ImagePathNormal)"><img class="newsimg" src="@Url.Content(image.ImagePathScaled)" /></a>
                            imagesCount++;
                        }
                    }
                </center>
            </td>
        </tr>
        <tr class="newsbottom">
            <td width="40%" align="center">
                @if (User.IsInRole("admin"))
                {
                    <form asp-action="DeleteNews" asp-controller="News" method="post">
                        <input type="hidden" name="newsId" value="@news.Id" />
                        <input type="checkbox" name="isChecked" value="true" />
                        <input type="hidden" name="imagesCount" value="@imagesCount" />
                        <span>Подтвердить удаление</span>
                        <input type="submit" value="Удалить" />
                    </form>
                }
            </td>
            <td width="40%" align="center">
                @if (User.IsInRole("admin"))
                {
                    <form asp-action="EditNews" asp-controller="News" method="get">
                        <input type="hidden" name="newsId" value="@news.Id" />
                        <input type="submit" value="Редактировать" />
                    </form>
                }
            </td>
            <td class="newsusername">
                @news.UserName
            </td>
        </tr>
    </table>
    <br /><br /><br /><br />
}

<center>
    @for (int i = 1; i <= Model.TotalPages; i++)
    {
        if (i != Model.CurrentPage)
        {
            @*@Html.ActionLink(i.ToString(), "Index", new { pageNumber = i })*@
            <a class="blue" asp-action="Index" asp-controller="News" asp-route-pageNumber="@i">@i</a>
            <span>&nbsp;</span>
        }
        else
        {
            <span class="text">@i</span>
            <span>&nbsp;</span>
        }
    }
</center>